<div class="endpoint">
    <H3>{{ title }}</H3>
    <div class="description {{ description_class }}"></div>
    <p>
        <span class="get padding5-10">GET</span>
        <span class="query">{{ url }}</span>
    </p>
    <div class="{{ class }} json_result"></div>
</div>
